body {
    background-color: grey;
    overflow-x: hidden;
    
}
body::-webkit-scrollbar {
    display: none;
  }

.navcontainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 105px;
    width: 99vw;
}

.navitem-1 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}

.navitem-2 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.navitem-3 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.navitem-4 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.navitem-5 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.navitem-6 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 99vw;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.displaySite {
    text-align: center;
    border: 3px solid black;
    width: 200px;
    height: 100px;
}

.Infobody {
    position: relative;
    border: 3px solid black;
    width: 1000px;
    height: 600px;
}

.footer {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 99.3vw;
    background-color: rgb(8, 8, 8,0.5);
    color: white;
    text-align: center;
    justify-content: space-between;
}

.footitem1 {
    width: 400px;
    height: 240px;
}
.footitem2 {
    width: 400px;
    height: 240px;
}
.footitem3 {
    width: 400px;
    height: 240px;
}
.footitem4 {
    width: 400px;
    height: 240px;
}

.slideshow {
    display:block;
}
