body {
    background-color: grey;
    
}

.navcontainer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 103px;
    width: 99vw;
}

.navitem-1 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}

.navitem-2 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}
.navitem-3 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}
.navitem-4 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}
.navitem-5 {
    width: 200px;
    height: 100px;
    border: 3px solid black;
}
.navitem-6 {
    display: flex;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 99vw;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.displaySite {
    text-align: center;
    border: 3px solid black;
    width: 200px;
    height: 100px;
}

.Infobody {
    position: relative;
    border: 3px solid black;
    width: 700px;
    height: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100vw;
    background-color: rgb(8, 8, 8,0.5);
    color: white;
    text-align: center;

}

.slideshow {
    display:block;
}
